# Básicos
streamlit
pandas
numpy

# Visualización
plotly
openpyxl

# Base de datos
pymongo

# Google APIs
google-auth
google-auth-oauthlib
google-auth-httplib2
gspread
google-api-python-client

# Procesamiento de datos
xlsxwriter
streamlit-aggrid

# Utilidades
python-dateutil
tqdm

prophet
scikit-learn

# Para análisis predictivo
prophet==1.1.4
statsmodels==0.14.0
scikit-learn>=1.0.2